body {
    background-color: #fcd5ce;
}

article {
    background-color: #f2e9e4;
    width: 90%;
    margin: 20px
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.gallery-photo {
    width: 150px;
    height: auto;
    border-radius: 19px;
    object-fit: cover
}

figcaption {
    font-size: 12px;
    font-family: 'Courier', serif
}

figure {
    text-align: center;
    width: 200px;
}

article p {
    font-family: 'Helvetica', sans-serif;
    padding-top: 0px;
    font-size: 14px
}

article li {
    font-family: 'Helvetica', sans-serif;
    padding-top: 0px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 1em
}

article img {
    width: 300px;
    height: auto;
    border-radius: 19px
}

code {
    font-family: 'Courier New', serif;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
    color: #c7254e;
}