body {
    background-color: #f2e9e4;
    color: #403F4C;
    font-family: 'Helvetica', sans-serif;
    padding: 20px;
    text-align: center
}

main address {
    padding-bottom: 30px
}

article {
    background-color: #fcd5ce;
    box-shadow: 8px 8px 19px 2px rgba(68,68,68,0.9);
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 19px
}

article p {
    font-family: 'Courier', serif;
    text-align: center;
    padding: 5px;
    padding-top: 15px
}

article a {
    font-size: 24px; 
    color: #403F4C;
    line-height: 40px; 
    padding: 13px; 
    border-radius: 19px; 
    font-weight: bold; 
    text-decoration: none;
    background-color: #ffffff;
    display: inline;
}

article a:hover {
    background: #f4978e
}