.gallery-photo {
    width: 450px;
    height: auto;
    border-radius: 19px;
    object-fit: cover
}

figure {
    text-align: center;
    width: 500px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

article img {
    width: 500px
}

ol ol {
    list-style-type: lower-alpha;
}